<div class="col-6 m-auto">
  <label class="form-label d-block">
    From
    <input type="email" class="form-control" [(ngModel)]="this.email.from" disabled>
  </label>

  <label class="form-label d-block">
    To
    <input appFocus type="email" class="form-control" [(ngModel)]="this.email.to">
    <span *ngIf="!this.email.to" class="text-danger">This field is required</span>
  </label>

  <label class="form-label d-block">
    Subject
    <input appFocus type="text" class="form-control" [(ngModel)]="this.email.subject"
           [ngClass]="this.email.subject.length > 50 ? 'bg-danger' : ''">
  </label>

  <label class="form-label d-block">
    Body
    <textarea appFocus class="form-control" [(ngModel)]="this.email.body"></textarea>
  </label>

  <button type="button" class="btn btn-info" (click)="send()">Send</button>
  <button type="button" class="btn btn-info mx-2" (click)="clear()">Clear</button>

  <br/>

  <div>
    <div>From: {{ this.email.from }}</div>
    <div>To: {{ this.email.to }}</div>
    <div>Subject: {{ this.email.subject }}</div>
    <div style="white-space: pre-wrap">Body: <br />{{ this.email.body }}</div>
  </div>
</div>
